Repository crowbar/crowbar-core, pull requests merged in 2018-09, with the labels that each got.

#1657 upgrade: Allow neutron-sdn-cisco-aci-agents role on compute nodes
  crowbar_framework/app/models/api/crowbar.rb
Labels: upgrade

#1659 barclamp: Mock the data coming from ohai, do not test with the system…
  chef/cookbooks/barclamp/spec/libraries/barclamp_library_spec.rb
Labels: forward-port from SOC7

#1661 [5.0] upgrade: Upgrade former DRBD-cluster correctly
  chef/cookbooks/crowbar/templates/default/crowbar-delete-pacemaker-resources.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/node.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/app/models/crowbar_service.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: upgrade

#1662 [5.0] upgrade: Adapt the rabbitmq client's config after rabbitmq setup change
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-upgrade-os.sh.erb
Labels: upgrade

#1663 [4.0] upgrade: New precheck added to check cluster node state
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/config/locales/crowbar/en.yml
Labels: needs forward-port to SOC8, needs forward-port to SOC9, upgrade

#1631 provisioner: Skip vxlan virtual devices
  chef/cookbooks/ohai/recipes/default.rb
  chef/cookbooks/provisioner/recipes/update_nodes.rb
Labels: bug, needs backport to SOC7, needs backport to SOC8
