Repository crowbar/crowbar-core, pull requests merged in 2018-05, with the labels that each got.

#1570 [4.0] upgrade: Make sure crowbarctl is installed with correct setup
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-chef-upgraded.sh.erb
Labels: upgrade

#1561 upgrade: revert openvswitch systemd unit fix
  chef/cookbooks/crowbar/templates/default/crowbar-upgrade-os.sh.erb
Labels: upgrade

#1567 upgrade: Do not add Newton specific config changes
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#1509 crowbar: clean restart flags extended
  crowbar_framework/app/controllers/api/restart_management_controller.rb
  crowbar_framework/spec/controllers/api/restart_management_controller_spec.rb
Labels: needs backport to SOC7

#1512 [4.0] crowbar: clean restart flags extended
  crowbar_framework/app/controllers/api/restart_management_controller.rb
  crowbar_framework/spec/controllers/api/restart_management_controller_spec.rb
Labels: backport from SOC8

#1557 upgrade: Change rabbitmq settings during the upgrade
  crowbar_framework/app/models/crowbar_service.rb
Labels: upgrade

#1537 ohai: Correct aacraid drivers disk removable flag (bsc#1085170)
  chef/cookbooks/ohai/files/default/plugins/linux/block_device_extended.rb
Labels: backport from SOC8

#1572 upgrade: When upgrading to SOC8, delete deprecated nova-cert service
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
Labels: upgrade

#1576 upgrade: Raise the default timeouts for most time consuming actions
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: upgrade

#1575 [4.0] upgrade: Added pre-check for database type
  crowbar_framework/app/models/api/crowbar.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/config/locales/crowbar/en.yml
  crowbar_framework/spec/fixtures/offline_chef/node_drbd.crowbar.com.json
  crowbar_framework/spec/fixtures/offline_chef/node_testing.crowbar.com.json
  crowbar_framework/spec/models/api/crowbar_spec.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: needs forward-port to SOC8, upgrade

#1579 [4.0] upgrade: Correctly check for the presence of various upgrade indication
  crowbar_framework/app/controllers/application_controller.rb
Labels: upgrade

#1573 upgrade: Do not upgrade compute-related packages to Pike
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
Labels: upgrade

#1389 ntp: Make listening net configurable (bsc#1047941)
  chef/cookbooks/ntp/recipes/default.rb
  chef/cookbooks/ntp/templates/default/ntp.conf.erb
  chef/data_bags/crowbar/migrate/ntp/100_add_listens.rb
  chef/data_bags/crowbar/template-ntp.json
  chef/data_bags/crowbar/template-ntp.schema
  crowbar_framework/app/models/ntp_service.rb
Labels: needs forward-port to SOC8

#1582 ntp: Make listening net configurable (bsc#1047941)
  chef/cookbooks/ntp/recipes/default.rb
  chef/cookbooks/ntp/templates/default/ntp.conf.erb
  chef/data_bags/crowbar/migrate/ntp/100_add_listens.rb
  chef/data_bags/crowbar/template-ntp.json
  chef/data_bags/crowbar/template-ntp.schema
  crowbar_framework/app/models/ntp_service.rb
Labels: forward-port from SOC7

#1583 upgrade: Use correct commands for disabling and enabling nova-compute
  chef/cookbooks/crowbar/templates/default/crowbar-evacuate-host.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: upgrade

#1580 Add Salt barclamp
  bin/crowbar_salt
  chef/cookbooks/salt/metadata.rb
  chef/cookbooks/salt/recipes/role_salt_ssh.rb
  chef/cookbooks/salt/recipes/salt_ssh.rb
  chef/cookbooks/salt/templates/default/pillar-roles.erb
  chef/cookbooks/salt/templates/default/roster.erb
  chef/data_bags/crowbar/template-salt.json
  chef/data_bags/crowbar/template-salt.schema
  chef/roles/salt-ssh.rb
  crowbar_framework/app/controllers/salt_controller.rb
  crowbar_framework/app/models/salt_service.rb
  crowbar_framework/app/views/barclamp/salt/_edit_attributes.html.haml
  crowbar_framework/config/locales/salt/en.yml
  crowbar_framework/schema/template-salt.schema
  salt.yml
Labels: backport from SOC8, enhancement

#1586 upgrade: Remove the database step
  crowbar_framework/config/puma.rb
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/spec/fixtures/upgrade_status.json
  crowbar_framework/spec/lib/crowbar/upgrade_status_spec.rb
Labels: upgrade

#1577 [4.0] upgrade: Adapt ceph-related pre-checks to 7-8 upgrade
  crowbar_framework/app/models/api/crowbar.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/config/locales/crowbar/en.yml
  crowbar_framework/spec/models/api/crowbar_spec.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: needs forward-port to SOC8, upgrade

#1581 upgrade: Added pre-check for database type
  crowbar_framework/app/models/api/crowbar.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/config/locales/crowbar/en.yml
  crowbar_framework/spec/fixtures/offline_chef/node_drbd.crowbar.com.json
  crowbar_framework/spec/fixtures/offline_chef/node_testing.crowbar.com.json
  crowbar_framework/spec/models/api/crowbar_spec.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: forward-port from SOC7, upgrade

#1589 [4.0] upgrade: Fix check for ceph presence
  crowbar_framework/app/models/api/crowbar.rb
Labels: needs forward-port to SOC8, upgrade

#1587 [4.0] upgrade: Remove database step from the list of 7-8 upgrade steps
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/spec/fixtures/upgrade_status.json
  crowbar_framework/spec/lib/crowbar/upgrade_status_spec.rb
Labels: upgrade

#1590 upgrade: Fix platform retrieval
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#1594 upgrade: Allow running schema migrations on upgrade
  crowbar_framework/lib/schema_migration.rb
Labels: upgrade
