Repository crowbar/crowbar-core, pull requests merged in 2018-06, with the labels that each got.

#1595 upgrade: Do not end admin step while it is still running (bsc#1095420)
  crowbar_framework/config/puma.rb
Labels: upgrade

#1596 [4.0] upgrade: Fix labels for SOC8 repositories
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/spec/fixtures/crowbar_repocheck.json
Labels: upgrade

#1597 [4.0] upgrade: Do not check if ceph roles are present on compute nodes
  crowbar_framework/app/models/api/crowbar.rb
Labels: needs forward-port to SOC8, upgrade

#1598 upgrade: Unblock upgrade status API in Cloud8
  crowbar_framework/app/controllers/api/upgrade_controller.rb
Labels: upgrade

#1574 Postpone the upgrade of compute nodes
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/app/controllers/application_controller.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/spec/fixtures/upgrade_status.json
  crowbar_framework/spec/lib/crowbar/upgrade_status_spec.rb
Labels: upgrade

#1592 [4.0] upgrade: Unlock crowbar-ui after completed upgrade
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#1600 upgrade: Deleting cinder services from database no longer needed
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-delete-cinder-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#1601 upgrade: Fix file layout for rails' autoloading (bsc#1096759)
  crowbar_framework/lib/crowbar/error.rb
  crowbar_framework/lib/crowbar/error/upgrade.rb
  crowbar_framework/lib/crowbar/error/upgrade_error.rb
Labels: needs backport to SOC7, upgrade

#1602 [4.0] upgrade: Added API calls for postponing/resuming compute nodes upgrade
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/spec/fixtures/upgrade_status.json
  crowbar_framework/spec/lib/crowbar/upgrade_status_spec.rb
Labels: backport from SOC8, upgrade

#1608 upgrade: Increase the timeout for deleting pacemaker resources
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: upgrade

#1604 upgrade: Do not finalize nodes that are not upgraded
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/app/models/node.rb
Labels: upgrade

#1606 upgrade: Move step to mark the admin upgrade end
  crowbar_framework/config/initializers/end_adminupgrade.rb
  crowbar_framework/config/puma.rb
Labels: upgrade

#1603 upgrade: Check input is a valid node for nodes
  crowbar_framework/app/controllers/api/upgrade_controller.rb
Labels: needs backport to SOC7, upgrade

#1612 [4.0] upgrade: Do not allow cinder-volume on compute nodes
  crowbar_framework/app/models/api/crowbar.rb
  crowbar_framework/spec/models/api/crowbar_spec.rb
Labels: needs forward-port to SOC8, upgrade

#1611 upgrade: Better check for upgraded nodes - do not rely on state.
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#1614 upgrade: Stop cron before stopping any other service
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
Labels: needs backport to SOC7, upgrade

#1610 upgrade: Improve various error messages
  crowbar_framework/app/models/api/node.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/app/models/node.rb
Labels: needs backport to SOC7, upgrade

#1599 upgrade: Unlock crowbar-ui after completed upgrade
  crowbar_framework/app/models/api/upgrade.rb
Labels: forward-port from SOC7, upgrade

#1615 upgrade: Wait for services shutdown to finish
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/app/models/node.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
  crowbar_framework/spec/controllers/api/upgrade_controller_spec.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: upgrade

#1621 upgrade: Add missing brackets checking for nodes
  crowbar_framework/app/controllers/api/upgrade_controller.rb
Labels: forward-port from SOC7, upgrade

#1618 upgrade: Add a validation check for postponed nodes.
  crowbar_framework/app/controllers/application_controller.rb
  crowbar_framework/app/models/service_object.rb
Labels: upgrade

#1617 [4.0] upgrade: Improve various error messages
  crowbar_framework/app/models/api/node.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/app/models/node.rb
Labels: backport from SOC8, upgrade

#1622 upgrade: Save the information which set of nodes should be upgraded
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/spec/fixtures/upgrade_status.json
  crowbar_framework/spec/lib/crowbar/upgrade_status_spec.rb
Labels: needs backport to SOC7, upgrade

#1623 upgrade: Wait until all nova-compute services are up before evacuation
  chef/cookbooks/crowbar/templates/default/crowbar-evacuate-host.sh.erb
Labels: upgrade
