Repository crowbar/crowbar-core, pull requests merged in 2018-08, with the labels that each got.

#1625 upgrade: Remove pre-upgrade constraints from existing locations
  chef/cookbooks/crowbar/recipes/crowbar-upgrade.rb
Labels: forward-port from SOC7, needs backport to SOC8, upgrade

#1644 upgrade: Show the grep result when checking for not-migrated instances
  chef/cookbooks/crowbar/templates/default/crowbar-evacuate-host.sh.erb
Labels: backport from SOC9, upgrade

#1645 [5.0] upgrade: Remove pre-upgrade constraints from existing locations
  chef/cookbooks/crowbar/recipes/crowbar-upgrade.rb
Labels: forward-port from SOC7, upgrade

#1643 upgrade: Make sure OpenStack services are stopped
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-remaining-services.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: needs backport to SOC8, upgrade

#1646 upgrade: disable network agents during upgrade
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-set-network-agents-state.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: needs backport to SOC8, upgrade

#1649 [5.0] upgrade: disable network agents during upgrade
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-set-network-agents-state.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: backport from SOC9, upgrade

#1648 [5.0] Stop services not managed by pacemaker 5.0
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-remaining-services.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: backport from SOC9, upgrade

#1651 upgrade: Port openstack db backup to mysql
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/spec/fixtures/offline_chef/node_testing.crowbar.com.json
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: needs backport to SOC8, upgrade

#1652 [5.0] upgrade: Port openstack db backup to mysql
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/spec/fixtures/offline_chef/node_testing.crowbar.com.json
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: backport from SOC9, upgrade

#1653 [5.0] upgrade: Remove nova-cert service after the node upgrade
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-chef-upgraded.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
Labels: upgrade

#1654 upgrade: Install missing clients for helper script
  chef/cookbooks/crowbar/templates/default/crowbar-set-network-agents-state.sh.erb
Labels: upgrade

#1655 [5.0] upgrade: Install missing clients for helper script
  chef/cookbooks/crowbar/templates/default/crowbar-set-network-agents-state.sh.erb
Labels: backport from SOC9, upgrade

#1634 [4.0] upgrade: Check for the presence of correct database role
  crowbar_framework/app/models/api/crowbar.rb
  crowbar_framework/spec/models/api/crowbar_spec.rb
Labels: upgrade
