Repository crowbar/crowbar-core, pull requests merged in 2019-11, with the labels that each got.

#1946 [5.0] upgrade: Add a precheck for XEN compute nodes presence (SOC-10495)
  crowbar_framework/app/models/api/crowbar.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/config/locales/crowbar/en.yml
  crowbar_framework/spec/models/api/crowbar_spec.rb
Labels: upgrade

#1944 [5.0] upgrade: Reload repo config in repochecks (SOC-10718)
  crowbar_framework/app/models/api/node.rb
Labels: backport from SOC9, upgrade

#1953 [4.0] Ignore CVE-2017-1002201 in CI builds (bsc#1155089)
  .travis.yml
Labels: backport from SOC8

#1952 [upgrade] Call finalize_nodes_upgrade at the very end (bsc#1155942)
  crowbar_framework/app/models/api/upgrade.rb
Labels: needs backport to SOC8, upgrade

#1948 upgrade: cold start nova before live migration (SOC-10761)
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-reload-nova-after-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-stop-nova-services.sh.erb
  configs/upgrade_timeouts.yml
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: upgrade

#1961 [5.0] upgrade: Make the time before next upgrade configurable
  configs/upgrade_timeouts.yml
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: upgrade

#1957 [5.0] upgrade: Make sure cinder-volume is really stopped (bsc#1156305)
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
Labels: needs forward-port to SOC9, upgrade

#1955 [5.0] Call finalize_nodes_upgrade at the very end (bsc#1155942)
  crowbar_framework/app/models/api/upgrade.rb
Labels: backport from SOC9, upgrade

#1945 [5.0] Ignore Cloud repository when checking for required ones
  crowbar_framework/app/models/api/node.rb
  crowbar_framework/lib/crowbar/repository.rb
  crowbar_framework/spec/controllers/api/upgrade_controller_spec.rb
  crowbar_framework/spec/fixtures/node_repocheck_missing.json
  crowbar_framework/spec/models/api/node_spec.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: upgrade

#1956 upgrade: Ignore Cloud repository during repocheck (bsc#1152007)
  crowbar_framework/app/models/api/node.rb
  crowbar_framework/lib/crowbar/repository.rb
  crowbar_framework/spec/controllers/api/upgrade_controller_spec.rb
  crowbar_framework/spec/fixtures/node_repocheck_missing.json
  crowbar_framework/spec/models/api/node_spec.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: forward-port from SOC8, upgrade

#1969 [5.0] Wait for keystone to be ready after start (bsc#1157206)
  chef/cookbooks/crowbar/templates/default/crowbar-migrate-keystone-and-start.sh.erb
Labels: backport from SOC9, upgrade

#1964 upgrade: Make sure cinder-volume is really stopped (bsc#1156305)
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
Labels: forward-port from SOC8, upgrade

#1968 [upgrade] Wait for keystone to be ready after start (bsc#1157206)
  chef/cookbooks/crowbar/templates/default/crowbar-migrate-keystone-and-start.sh.erb
Labels: upgrade

#1963 [5.0] Remove existing upgrade directories from nodes (SOC-10956)
  chef/cookbooks/crowbar/recipes/crowbar-upgrade.rb
Labels: upgrade

#1972 Ignore CVE-2019-13117 in CI builds (bsc#1157028)
  .travis.yml
Labels: backport from SOC8

#1967 [5.0] upgrade: Fixes for prepare step
  chef/cookbooks/crowbar/recipes/crowbar-upgrade.rb
  crowbar_framework/app/models/crowbar_service.rb
Labels: forward-port from SOC7, upgrade

#1970 [5.0] Disable automatic repo services and installation repo (bsc#1152007)
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-prepare-repositories.sh.erb
Labels: upgrade

#1971 Disable automatic repo services and installation repo (bsc#1152…
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-prepare-repositories.sh.erb
Labels: forward-port from SOC8, upgrade

#1949 [4.0] Allow pacemaker remotes for upgrade (SOC-10133)
  crowbar_framework/app/models/api/crowbar.rb
Labels: upgrade
