Repository crowbar/crowbar-core, pull requests merged in 2019-01, with the labels that each got.

#1739 Revert "upgrade: Deleting cinder services from database no longer nee…
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-delete-cinder-services-before-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
Labels: forward-port from SOC8, upgrade

#1746 upgrade: Do not mark nodes as upgraded before the last action
  crowbar_framework/app/models/api/upgrade.rb
Labels: forward-port from SOC8, upgrade

#1753 upgrade: Mention the name of failed node in the error message
  crowbar_framework/app/models/api/node.rb
Labels: needs forward-port to SOC9, upgrade

#1757 travis fix for bundler problems
  .travis.yml
Labels: forward-port from SOC7

#1756 [5.0] travis fix for bundler problems
  .travis.yml
Labels: forward-port from SOC7

#1741 [5.0]upgrade: Skip already upgraded nodes+fail with no upgradeable nodes
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#1758 upgrade: Mention the name of failed node in the error message
  crowbar_framework/app/models/api/node.rb
Labels: forward-port from SOC8, upgrade

#1759 upgrade: Skip already upgraded nodes+fail with no upgradeable nodes
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/app/models/api/upgrade.rb
Labels: forward-port from SOC8

#1734 [5.0] upgrade: Signal all nova services after the upgrade is complete
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-reload-nova-after-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-run-nova-online-migrations.sh.erb
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: needs forward-port to SOC9, upgrade

#1760 upgrade: Delete nova services that are registered to unknown nodes
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-delete-unknown-nova-services.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: forward-port from SOC8, upgrade

#1764 [5.0] upgrade: Fix syntax error (missing "done") in script
  chef/cookbooks/crowbar/templates/default/crowbar-delete-unknown-nova-services.sh.erb
Labels: backport from SOC9, upgrade

#1763 upgrade: Fix syntax error (missing "done") in script
  chef/cookbooks/crowbar/templates/default/crowbar-delete-unknown-nova-services.sh.erb
Labels: upgrade

#1761 apache2: enable sslsessioncache
  chef/cookbooks/apache2/templates/suse/mods/ssl.conf.erb
Labels: needs backport to SOC7, needs backport to SOC8

#1762 upgrade: Signal all nova services after the upgrade is complete
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-reload-nova-after-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-run-nova-online-migrations.sh.erb
  crowbar_framework/app/controllers/api/upgrade_controller.rb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
  crowbar_framework/spec/models/api/upgrade_spec.rb
Labels: forward-port from SOC8, upgrade

#1775 [4.0] upgrade: Map jsonapi for respond_to
  crowbar_framework/app/controllers/application_controller.rb
  crowbar_framework/config/initializers/mime_types.rb
Labels: upgrade

#1748 upgrade: reduce keystone downtime
  chef/cookbooks/apache2/definitions/apache_site.rb
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-delete-pacemaker-resources.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-migrate-keystone-and-start.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-keystone.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-remaining-services.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
Labels: forward-port from SOC8, upgrade

#1778 [5.0] upgrade: Only SIGHUP the main nova processes
  chef/cookbooks/crowbar/templates/default/crowbar-reload-nova-after-upgrade.sh.erb
Labels: needs forward-port to SOC9, upgrade

#1777 [5.0] upgrade: Map jsonapi for respond_to
  crowbar_framework/app/controllers/application_controller.rb
  crowbar_framework/config/initializers/mime_types.rb
Labels: forward-port from SOC7, upgrade

#1776 upgrade: Map jsonapi for respond_to
  crowbar_framework/app/controllers/application_controller.rb
  crowbar_framework/config/initializers/mime_types.rb
Labels: forward-port from SOC7, upgrade

#1683 [5.0] upgrade: Finish only controllers step
  crowbar_framework/app/models/api/upgrade.rb
Labels: forward-port from SOC7, upgrade

#1771 [5.0] upgrade: Fix check for ceph presence
  crowbar_framework/app/models/api/crowbar.rb
Labels: forward-port from SOC7, upgrade

#1772 [5.0] upgrade: Let the upgrade library work with both 7-8 and 8-9 upgrades.
  crowbar_framework/lib/crowbar/upgrade_status.rb
  crowbar_framework/spec/lib/crowbar/upgrade_status_spec.rb
Labels: forward-port from SOC7, upgrade

#1781 [5.0] upgrade: Restart nova-compute instead of relaoding via SIGHUP
  chef/cookbooks/crowbar/templates/default/crowbar-reload-nova-after-upgrade.sh.erb
Labels: upgrade

#1779 [5.0] Migrations after upgrade
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-heat-migrations-after-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-nova-migrations-after-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: needs forward-port to SOC9, upgrade

#1785 Call the migrations after the upgrade is done
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-heat-migrations-after-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-nova-migrations-after-upgrade.sh.erb
  crowbar_framework/app/models/api/upgrade.rb
  crowbar_framework/lib/crowbar/upgrade_timeouts.rb
Labels: forward-port from SOC8, upgrade

#1782 [4.0] upgrade: Add default upgrade timeouts file
  configs/upgrade_timeouts.yml
Labels: upgrade

#1783 [5.0] upgrade: Add default upgrade timeouts file
  configs/upgrade_timeouts.yml
Labels: forward-port from SOC7, upgrade

#1784 upgrade: Add default upgrade timeouts file
  configs/upgrade_timeouts.yml
Labels: forward-port from SOC7, upgrade
