Repository crowbar/crowbar-core, pull requests merged in 2020-03, with the labels that each got.

#2004 upgrade: Raise the timeout for nodes evacuation (trivial)
  chef/cookbooks/crowbar/templates/default/crowbar-evacuate-host.sh.erb
  configs/upgrade_timeouts.yml
Labels: upgrade

#2006 [5.0] ses: Configuration upload & SES cookbook + other fixes
  chef/cookbooks/ses/README.md
  chef/cookbooks/ses/libraries/helpers.rb
  chef/cookbooks/ses/metadata.rb
  chef/cookbooks/ses/providers/config.rb
  chef/cookbooks/ses/resources/config.rb
  chef/cookbooks/ses/templates/default/ceph.conf.erb
  chef/cookbooks/ses/templates/default/client.keyring.erb
  crowbar_framework/app/assets/javascripts/application.js
  crowbar_framework/app/controllers/ses_controller.rb
  crowbar_framework/app/models/ses.rb
  crowbar_framework/app/views/ses/settings.html.haml
  crowbar_framework/config/locales/ses/en.yml
  crowbar_framework/config/routes.d/ses.routes
  ses.yml
Labels: backport from SOC9

#2015 upgrade: proper check for remote elements (trivial)
  crowbar_framework/app/models/api/upgrade.rb
Labels: upgrade

#2016 upgrade: Remove the assignement of crowbar-upgrade role (SOC-11166)
  crowbar_framework/app/models/api/upgrade.rb
Labels: needs backport to SOC8, upgrade

#2020 [5.0] Ignore latest CVEs in the CI, update default OS version used by CI
  .travis.yml
  chef/cookbooks/barclamp/spec/spec_helper.rb
Labels: backport from SOC9

#2021 [5.0] upgrade: Remove the assignement of crowbar-upgrade role (SOC-11166)
  crowbar_framework/app/models/api/upgrade.rb
Labels: backport from SOC9

#2018 upgrade: Fixes for neutron-evacuate-lbaasv2-agent execution (SOC-11171)
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-lbaas-evacuation.sh.erb
Labels: needs backport to SOC8, upgrade

#2017 [5.0] upgrade: Fix systemd unit listing (trivial)
  chef/cookbooks/crowbar/templates/default/crowbar-pre-upgrade.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-remaining-services.sh.erb
  chef/cookbooks/crowbar/templates/default/crowbar-shutdown-services-before-upgrade.sh.erb
Labels: backport from SOC9, upgrade

#2022 [5.0] upgrade: Fixes for neutron-evacuate-lbaasv2-agent execution (SOC-11171)
  chef/cookbooks/crowbar/recipes/prepare-upgrade-scripts.rb
  chef/cookbooks/crowbar/templates/default/crowbar-lbaas-evacuation.sh.erb
Labels: backport from SOC9, upgrade
